*body{
    display: flex;
    justify-content: center;
  

}
.box{
    position: relative;
    width: 860px;
    height: 270px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent,#186b08c4, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent,#45ff4e, #ffec45);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.form{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background-color: #303b68;
    z-index: 10;
    padding:  20px;
    border: 10px;
    display: flex;
    flex-direction: column;
}









